/* Tablet */

@media screen and (max-width:878px) {
    
.main-nav-list {
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav-list-text{
    flex-basis: 20%;
}

.recently-played-container{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.9rem;
}

.recently-played-card{
    flex-basis: 23%;
}

.reproduction-nav-center-bottom{
    gap: 0.5rem;
}

}

/* Small Tablet */

@media screen and (max-width:639px){

.recently-played-card{
    flex-basis: 40%;
}

.reproduction-nav-left-icons{
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

} 