/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.scale-hover:hover {
    transform: scale(1.1);
}

.color-white-hover:hover {
    color: white;
}

.text-decoration-underline-hover:hover {
    text-decoration: underline;
}

.background-color-green-hover:hover {
    background-color: #adff2f;
}

.fill-white-hover:hover {
    fill: white;
}

.fill-gray {
    fill: gray;
}

.color-fill-white-hover:hover .color-white-hover {
    fill: white;
    color: white;
}

/* Main Container */

.main-container {
    display: flex;
    height: calc(100vh - 100px);
}

.main-section {
    width: calc(100vw - 250px);
    overflow: auto;
    background-color: #141922;
}

/* Playlist Navbar */

.playlist-navbar {
    width: 250px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

/* Playlist Navbar Logo */

.playlist-navbar-logo {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 5rem;
}

.playlist-navbar-logo-small {
    display: none;
}

/* Playlist Navbar Options */

.playlist-navbar-options {
    padding: 1rem 2rem;
}

.playlist-navbar-options-list-single {
    display: flex;
    align-items: center;
}

.playlist-navbar-options-list-img {
    width: 15%;
}

.playlist-navbar-options-list-img-icon {
    color: #adff2f;
}


.playlist-navbar-options-list-text {
    color: gray;
    font-size: 0.9rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

.playlist-navbar-options-list-single .text-white {
    color: white;
}

.playlist-navbar-options-list-img-icon {
    display: inline;
    filter: gray;
}

.border-left {
    position: relative;
}

.border-left::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 26%;
    background-color: #adff2f;
    left: 0;
    top: 0.9rem;
}

/* Playlist Navbar List */

.playlist-navbar-list-title {
    color: white;
    padding-left: 2rem;
}

.playlist-navbar-list-add {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;

}

.playlist-navbar-list-add-icon {
    color: gray;
    font-size: 3rem;
    cursor: pointer;
}

.playlist-navbar-list-add-text {
    color: gray;
}

.playlist-navbar-list-add-icon:hover,
.playlist-navbar-list-add-icon:hover~.playlist-navbar-list-add-text {
    color: white;
}

.playlist-navbar-list-container {
    padding-left: 2rem;
    flex-grow: 1;
    overflow: auto;

}

.playlist-navbar-list-container-text {
    margin-bottom: 0.8rem;
}

.playlist-navbar-list-text {
    color: gray;
    font-size: 0.8rem;
}

/* Playlist Navbar Install */

.playlist-navbar-install-container {
    padding: 1rem 2rem;
}

.playlist-navbar-install-container-relative {
    display: flex;
    align-items: center;
    gap: 2%;
    position: relative;
    right: 2px;
}

.playlist-navbar-install-img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.playlist-navbar-install-text {
    color: gray;
    font-size: 0.7rem;
    cursor: pointer;
}

/* Playlist Navbar User  */

.playlist-navbar-user-container {
    padding: 0rem 2rem;
    margin-bottom: 1rem;
    z-index: 2;
}

.playlist-navbar-user-image {
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.playlist-navbar-user-text {
    color: white;
    font-size: 1rem;
    cursor: pointer;

}

.border-top {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 1rem;
}

/* Main Header */

.main-header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(8, 11, 18, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    font-weight: bold;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
    margin-right: 20px;
}


/* Main Section */

.main-structur {
    color: white;
    padding: 20px;
}

/* Main Navbar */

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-list {
    display: flex;
    gap: 1rem;
}

.main-nav-list-text {
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
    transition: trasform 0.3s;
}

.border-bottom {
    position: relative;
}

.border-bottom::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
    left: 30px;
    top: 20px;
}


/* Main Recently Playlist */

.main-section-title {
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.recently-played-container {
    display: flex;
    padding-top: 2rem;
    gap: 10px;
}

.recently-played-card {
    width: calc(100% / 6 - 20px / 6);
}

.recently-played-card-title {
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.recently-played-card-text {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
}

.recently-played-card-image {
    position: relative;
    cursor: pointer;
}

.recently-played-card-image-icon {
    position: absolute;
    inset: 0;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recently-played-card-image:hover .recently-played-card-image-icon {
    opacity: 1;

}

*/
/*Main Section Subtitle */

.main-section-subtitle {
    font-size: 0.9rem;
    color: gray;
    padding-top: 1rem;
}

/* John Foe Cards */

.flex-start {
    justify-content: flex-start;
    gap: 2%;
}

/* Popoular Cards */

.border-radius {
    border-radius: 50%;
}

/* Reproduction Navbar */

.reproduction-nav {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

/* Reproduction Nav Left */

.reproduction-nav-left {
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
    flex-basis: 30%;
}

/* Reproduction Nav Left Image and Text Container */

.reproduction-nav-left-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

/* Reproduction Nav Left Image */

.reproduction-nav-left-img {
    max-height: 80%;
}

/* Reproduction Nav Left Text */

.reproduction-nav-left-name {
    flex-basis: 60%;
}

.reproduction-nav-title {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.reproduction-nav-text {
    color: gray;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
}

/* Reproduction Nav Left Icons */

.reproduction-nav-left-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.reproduction-nav-text-icon {
    font-size: 1.3rem;
    color: gray;
}

/* Reproduction Nav Center */

.reproduction-nav-center {
    flex-basis: 30%;
}

/* Reproduction Nav Center Top */

.reproduction-nav-center-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproduction-nav-center-top-icons-container {
    flex-basis: 10%;
    transition: transform 0.3s;
    text-align: center;
}

.reproduction-nav-center-top-icon {
    color: white;
    font-size: 1rem;
}

.reproduction-nav-center-top-icon-play {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* Reproduction Nav Center Bottom */

.reproduction-nav-center-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
}

.reproduction-nav-center-bottom-time {
    flex-basis: 10%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.reproduction-nav-center-bottom-line {
    flex-basis: 75%;
    border-radius: 20px;
    background-color: grey;
    height: 0.4rem;
}

.reproduction-nav-center-bottom-line-inside {
    width: 18%;
    border-radius: 20px;
    background-color: darkgray;
    height: 0.4rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.reproduction-nav-center-bottom-line-inside-circle {
    width: 1rem;
    height: 1rem;
    text-align: right;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.reproduction-nav-center-bottom-line-inside:hover .reproduction-nav-center-bottom-line-inside-circle {
    display: block;
}

/* Reproduction Nav Right  */

.reproduction-nav-right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.reproduction-nav-right-incos {
    display: flex;
    gap: 1rem;
}

.reproduction-nav-right-line {
    flex-basis: 30%;
    border-radius: 20px;
    background-color: grey;
    height: 0.3rem;
}

.reproduction-nav-right-line-inside {
    width: 50%;
    border-radius: 20px;
    background-color: darkgray;
    height: 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reproduction-nav-right-inside-circle {
    width: 0.8rem;
    height: 0.8rem;
    text-align: right;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.reproduction-nav-right-line-inside:hover .reproduction-nav-right-inside-circle {
    display: block;
}