/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* Main Container */

.main-container {
    display: flex;
    height: calc(100vh - 150px);
}

.main-section {
    width: calc(100vw - 250px);
    overflow: auto;

}

/* Main Header */

.main-header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgba(8, 11, 18, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    font-weight: bold;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    transition: transform 0.3s;
    cursor: pointer;
    margin-right: 20px;
}

.button:hover {
    transform: scale(1.1);
}

/* Main Section */

.main-structur {
    color: white;
    background-color: #141922;
    padding: 20px;
}

/* Main Navbar */

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-nav-list {
    display: flex;
    gap: 20px;
}

.main-nav-list-text {
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
    transition: trasform 0.3s;
}

.border-bottom {
    position: relative;
}

.border-bottom::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
    left: 30px;
    top: 20px;
}

.main-nav-list-text:hover {
    color: white;
}

/* Main Recently Playlist */

.main-section-title {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: bold;
}

.recently-played-container {
    display: flex;
    justify-content: space-between;
}

.recently-played-card {
    flex-basis: 15%;
}

.recently-played-card-title {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.recently-played-card-text {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
}

.recently-played-card-image {
    position: relative;
    cursor: pointer;
}

.recently-played-card-image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
    

.recently-played-card-image:hover .recently-played-card-image-icon {
    display: block;
}

.recently-played-card-image:hover .overlay {
    display: block;
}


/* DEBUG */


.playlist-navbar {
    width: 250px;
    background-color: #000000;
}

.reproduction-nav {
    height: 150px;
    background-color: #282828;
}