/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

/* DEBUG */

.main-container {
    display: flex;
    height: calc(100vh - 150px);
}

.playlist-navbar {
    width: 200px;
    background-color: aquamarine;
}

.main-section {
    width: calc(100vw - 200px);
    overflow: auto;

}

.main-header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: blue;
}

.main-structur {
    background-color: beige;
    overflow: auto;
}

.reproduction-nav {
    height: 150px;
    background-color: black;
}